# Dependencies
node_modules/
.pnp
.pnp.js

# Build cache / TS
*.tsbuildinfo
.vite/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# OS / Editors
.DS_Store
*.local
.idea/
.vscode/
